<div>
    
    <h1 class="abouttitle">Meet The Team</h1>
    <br>
    <div class="container">
        <div class ="row align-items-center">
            <div class="col-sm-4">
                <%= image_tag("contactdogpet", class: "img-responsive")%>    
                <h4>Rover 1</h4>
            </div>
            
            <div class="col-sm-4">
                <%= image_tag("contactdogpet", class: "img-responsive")%>
                <h4>Rover 1</h4>
            </div>
            
            <div class="col-sm-4">
                <%= image_tag("contactdogpet", class: "img-responsive")%>
                <h4>Rover 1</h4>
            </div>
        </div>
    </div>

</div>




