/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* Custom Styles */

.register-new-edit .card-block {
    background-color: #669999;
    text-align: left;
    width: 60%;
    margin: auto;
    padding: 5px 10px 10px 10px;
}

.card-block>h2 {
    margin-top: 10px;
}

.register-text {
    text-align: right;
}

.auth-links {
    color: red;
}

.login-pwd .card{
    background-color: #669999;
    width: 30rem;
    margin: 0 auto;
    padding: 5px 10px 8px 10px;
}