// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tableCenter {
	position: relative;
	top: 10%;
	margin-left: auto;
	margin-right: auto;
}

table, th, td, tr {
	border: 3px solid #73AD21;
	text-align: center;
	padding: 15px;
}