// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tableCenter {
	padding-top: 200px;
	margin-left: auto;
	margin-right: auto;
}

table, th, td, tr {
	border: blue 2px solid;
	text-align: center;
	padding: 15px;
}