// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
	max-height: 100%;
	width: auto;
	height: 100%;
	//overflow-x: hidden;
}

/* Nav Bar */

.my-navbar {
	border-radius: 0;
	border: 0;
	background-color: #d1d1e0;
	margin-bottom: 2px;
}


.my-navbar .navbar-brandfont {
	font-family: 'Pacifico', cursive, sans-serif;
	font-size: 2em;
	color: red;
}


#bs-example-navbar-collapse-1 {
	padding-left: 0;
	padding-right: 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a {
	color: black;
	font-size: 1em;
	font: 16px 'Raleway', sans-serif;
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a:hover {
	color: white;
	background-color: rgba(193, 66, 66, 0.3);
} 

.navbar-default {
    border-radius: 0;
}

/* header image */

.image-header { 
   position: relative; 
   width: 100%; /* for IE 6 */
}


/* Main category */

.maincat-title >h2 {
	margin-top: 120px;
	margin-bottom: 60px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	text-align: center;
}


.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 50px; 
}

.site-footer {
  background-color: #d1d1e0;
}

/* Carousel image center */

.carousel-inner > .item > img {
    margin: 0 auto;
}


/* About */

.abouttitle {
  text-align: center;
  position: relative;
  margin-top: 10%;
 
}

/*hr { 
    height:1px; 
    border:none; 
    color:#000; 
    background-color:#000; 
    width:60%; 
    text-align:center; 
    margin: 0 auto;
}*/

#abtintro {
  text-align:center;
  display: table;
  font-family:'Source Sans Pro',arial,sans-serif;
  font-size:1.1em;
  display:none;
}


/*Contact*/



