<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row" id="topspace"></div> <!-- to create blank top space -->
  <%= render @products %>

</div> <!-- end container-fluid -->


<%= link_to 'New Product', new_product_path %>


